#violet {
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
}  
.red {
    color: red;
    font-weight: bold;
}
.green {
    color: green;
    font-weight: bold;
    font-size: 20px;
}
.black {
    font-weight: bold;
}
.blue {
    color: blue;
    font-weight: bold;
}